.enroll-section
{
    background-image: linear-gradient(to right bottom, #0000ff40, #0000ffde);
    padding: 6rem 0;
    &__content
    {
        @include respond(phone)
        {
            width: 80%;
            background-image: radial-gradient(156% 190% ellipse at -13%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%, transparent 50%), url(../img/background3.jpg)
        }
        width: 80%;
        margin: auto;
        background-image: radial-gradient(156% 190% ellipse at -13%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%),
        url(../img/background3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7rem;
        overflow: hidden;
        border-radius: 0.1rem 0.1rem 2.1rem #00000082;
        &__detail
        {
            padding: 7rem;
            text-align: left;
            input[type=text], input[type=email]
            {
               
                transition: .4s;
                display: block;
                padding: 1.5rem 1.1rem;
                width: 100%;
                background: #ffffff9e;
                /* opacity: 1 !important; */
                border: none;
                outline: none;
                border-bottom: 0.4rem solid transparent;
                &::-webkit-input-placeholder
                {
                    color: gray;
                }
                &:focus
                {
                    border-bottom: 0.4rem solid #0000ff99;
                    box-shadow: 0.1rem 0.1rem 0.8rem grey;
                }
                &:focus:invalid
                {
                    border-bottom: 0.4rem solid orange;
                    box-shadow: 0.1rem 0.1rem 0.8rem grey;
                }
                & + label
                {
                    position: relative;
                    transition: .4s;
                }
                &:placeholder-shown + label
                {
                   
                    left: 1.1rem;
                    top: -3.4rem;
                    opacity: 0;
                }
                &:not(:placeholder-shown) + label
                {

                    left: 1.1rem;
                    top: 1rem;
                    opacity: 1;
                }
            }
            .enroll-title
            {
                font-size: 3rem;
                letter-spacing: 0.1rem;
            }
            .gender
            {
                margin-top: 3rem;
                font-size: 1.5rem;
                &__option {
                    width: 50%;
                    float: left;
                    input[type=radio]
                    {
                        display: none;
                        &:checked + label span:after {
                            opacity: 1;
                            visibility:visible
                        }
                    }
                    &__custom-button
                    {
                            width: 3rem;
                            height: 3rem;
                            display: inline-block;
                            border-radius: 50%;
                            vertical-align: middle;
                            margin-right: 1rem;
                            border: 0.5rem solid #0000ff82;
                            position: relative;                        
                            &:after {
                                content: "";
                                position: absolute;
                                width: 60%;
                                height: 60%;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background: #0000ff82;
                                transition: .2s;
                                opacity: 0;
                                visibility: hidden;
                              
                                
                            }
                    }
                }
            }
            .form-group:not(:last-of-type) 
            {
                margin-bottom: 4rem
            }
        }
    }
    .story-section__main-intro__form
    {
        width: 56%;
        @include respond(phone)
        {
            width: 100%;
        }
    }
}