.footer-section
{
    background:#333;
    &__content {
        width: 80%;
        margin: auto;
        padding: 10rem 0 10rem 0;
        .footer-menu {
            border-top: 0.2rem solid white;
            padding-top: 2rem;
            display: inline-block;
            @include respond(phone)
            {
                   display: block;
                   text-align: center;
                   padding-bottom: 5rem;
            }
            @include respond(small-screen)
            {
                   display: block;
                   text-align: center;
                   padding-bottom: 5rem;
            }
         
            &__list
            {
                list-style: none;
                &__item {
                    display: inline-block;
                    margin: 0;
                    &:not(:last-of-type)
                    {
                        margin-right: 1.4rem;
                    }           
                    &:hover a {
                        color: #5a73fc;
                        transform: skewY(3deg) scale(1.1);
                        box-shadow: 0.1rem 0.1rem 0.6rem black;
                        border-radius: 1rem;
                        display: block;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 1.6rem;
                        transition: .4s;
                    }
                }
            }
           
        }
        .footer-slogan
        {
            text-align: center;
            &__logo
            {
                width: 20rem;
            }
            h2 {
                color: #5a73fc;
                text-transform: uppercase;
                font-size: 3rem;
                display: block;
                letter-spacing: 0.1rem;
            }
        }
        .footer-copyright {
            width: 70%;
            float: right;
            @include respond(phone)
            {
                    width: 100%;
                   text-align: center;
            }
            @include respond(small-screen)
            {
                    width: 100%;
                   text-align: center;
            }
            p {
                border-top: 0.2rem solid white;
                padding-top: 2rem;
                display: inline-block;
                color: white;
                font-size: 1.4rem;
                line-height: 2rem;
                text-transform: none;
            }
        }
    }
   
}