
.title-1
{
    position: absolute;
    top: 28%;
    left: 50%;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    animation: goRight 1s forwards;
    &--big
    {
        font-size: 6rem;
        @include respond(phone)
        {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
   
}
.title-2 {
    position: absolute;
    top: 44%;
    left: 50%;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: white;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    animation: goLeft 1s forwards;
    &--small {
        font-size: 2.5rem;
        @include respond(phone)
        {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    }
}