.text-center
{
    text-align: center;    
}
.primary-title
{
    border: none;
    transition: 0.3s;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
    letter-spacing: 1rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $background_light,$background_dark);
    color: transparent;
    -webkit-background-clip: text;
    &:hover{
        transform: skewY(5deg) scale(1.1);
        text-shadow: 0rem 1rem 1rem #80808066;
    }
    @include respond(phone)
    {
        font-size: 4rem;
        letter-spacing: 0.7rem;
    }
}