.story-section {
    background: #f7f7f7;
    margin-top: -14rem;
    padding-top: 18rem;
    @include respond(phone)
    {
        padding-bottom: 5rem;
    }
    @include respond(small-screen)
    {
        padding-bottom: 5rem;
    }
  
    &__main-intro {
        border: none;
        transition: 0.3s;
        text-align: center;
        font-size: 5rem;
        margin-bottom: 5rem;
        display: inline-block;
        letter-spacing: 1rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, $background_light,$background_dark);
        color: transparent;
        -webkit-background-clip: text;
        &:hover{
            transform: skewY(5deg);
            text-shadow: 0rem 1rem 1rem #80808066;
        }
    }
}

a.btn-learn-more {
    &:visited, &:link
    {
        text-decoration: none;
        border-bottom: 1px solid blue;
        padding-bottom: 0.5rem;
        transition: 0.2s;
        padding: 0.7rem 0.4rem;
        font-size: 1.2rem;
        margin-top: 3rem;
        display: inline-block;
        transform: translateY(0);
    }
    &:hover {
        color: white;
        background: #0000ffa6;
        border-bottom: 0.1rem solid transparent;
        box-shadow:0.3rem 0.4rem 1.3rem #808080d9;
        i{
            color: white;
        }
    }
    &:active
    {
        transform: translateY(0.3rem);
    }

}
.intro-content
{
    padding-bottom: 15rem;
    &__text__section__title {
        font-size: 2rem;
        color: gray;
        margin-bottom: 2rem;
    }
    &__text__section:not(:last-of-type)
    {
        margin-bottom: 1.5rem;
    }
    &__text__section p
    {
        line-height: 20px;
        font-size: 1.2rem;
    }
    &__image
    {
        position: relative;
        img
        {
            width: 50%;
            position: absolute;
            box-shadow: 3px 4px 23px #808080d9;
            transition: 0.4s;
            @include respond(phone)
            {
                width: 30%;
            }
            @include respond(small-screen)
            {
                width: 30%;
            }
            &:hover {
                transform: scale(1.2);
                outline: 1.5rem solid #0000ffa3;
                outline-offset: 1rem;
                z-index: 9;
                    }
                    &:nth-child(1)
                    {
                        top: 0;
                        left: 0.5rem;
                        @include respond(phone)
                        {
                            position: relative;
                            left: 2.5rem;
                        }
                        @include respond(small-screen)
                        {
                            position: relative;
                            left: 2.5rem;
                        }
                
                    }
                    &:nth-child(2)
                    {
                        top: 3rem;
                        right: 1rem;
                        @include respond(phone)
                        {
                            position: relative;
                            top: -1rem;
                            transform: scale(1.1);
                            left: 2rem;
                        }
                        @include respond(small-screen)
                        {
                            position: relative;
                            top: -1rem;
                            transform: scale(1.1);
                            left: 2rem;
                        }
                        
                    }
                    &:nth-child(3)
                    {
                        top: 9.5rem;
                        left: 7rem;
                        @include respond(phone)
                        {
                            position: relative;
                            top: 0;
                            left: 2rem;
                        }
                        @include respond(small-screen)
                        {
                            position: relative;
                            top: 0;
                            left: 2rem;
                        }
                    }
         }
      
    }
}

