*{}

table tbody tr td[colspan='6'] {
    text-align: center;
    padding-top: 25px;
}

input.cart_quantity_input {
    width: 70px;
}

.row.total-row {
    display: flex;
    align-items: center;
}
.cart_product img
{
    width:110px;
}
.cart_product
{
    margin: 0;
}
.cart_product a
{
    display: block;
    padding: 14px;
}
.total-row h2
{
    padding-left: 22px;
}

.total-row h4
{
    padding-right: 22px;
}
