/* CSS Variable */
:root {
  --light: #fff;
  --light-dark: #f2f2f2;
  --black-bg-btn: #000;
  --primary-text-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--light);
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 0px 60px 30px 60px;
}

section {
  padding-bottom: 50px;
}

/* Main Menu */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.main-nav .main-nav_left {
  /* display: flex; */
  list-style: none;
  display: grid;
  grid-template-columns: 108px repeat(5, AUTO);
  justify-content: left;
  justify-items: center;
  grid-gap: 20px;
  /* flex-basis: 100%; */
  /* justify-content: space-between;
  flex-basis: 55%;
  flex-shrink: 0; */
  margin-left: 20px;
}
.main-nav .main-nav_left li:hover a {
  border-bottom: 3px solid black;
  display: block;
  padding-bottom: 2px;
}
.main-nav .main-nav_left li a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.main-nav .main-nav_right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  justify-items: end;
  justify-content: end;
  flex-basis: 10%;
  list-style: none;
}

.main-nav .main-nav_right li i {
  font-size: 20px;
  color: gray;
}
/* Showcase */

.showcase img {
  width: 100%;
  max-height: 400px;
  /* min-height: 100px; */
  object-fit: cover;
}
/* Main Feature */
.main-feature ul {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  list-style: none;
  width: 100%;
}

.main-feature ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--primary-text-color);
}

.main-feature ul li i {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-size: 40px;
}

.highlight-feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  /* padding-bottom: 80px; */
}
.highlight-feature .feature-info a {
  text-decoration: none;
  color: black;
}
.highlight-feature .feature-info a img {
  margin-bottom: 30px;
}

.highlight-feature .feature-info p {
  margin-bottom: 10px;
}

.highlight-feature .feature-info span {
  color: #005da6;
  position: relative;
  font-weight: bold;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}

.highlight-feature .feature-info span:hover {
  border-bottom: 2px solid #005da6;
}

.highlight-feature .feature-info span:hover::after {
  right: -20px;
}

.highlight-feature .feature-info span::after {
  content: ">";
  position: absolute;
  right: -15px;
  top: 0;
  transition: 0.4s;
}

/* ShowCase Banner */
section.showcase-banner {
  background-image: url(../img/phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 30px 200px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}

.showcase-banner p {
  margin: 15px 0;
}

.btn-wrapper a span {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-right: 10px;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

.btn-wrapper a:hover span {
  position: relative;
  transform: translateX(-4px);
  border-bottom: 2px solid white;
}

.btn-wrapper a:link,
.btn-wrapper a:visited {
  display: flex;
  padding: 10px 25px;
  background-color: black;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s;
}

.btn-wrapper a:active {
  transform: scale(0.9);
}

.btn-wrapper a:after {
  content: "\003e";
  transition: 0.2s;
  color: white;
  display: inline-block;
}

.btn-wrapper a:hover {
  cursor: pointer;
}

.btn-wrapper a:hover::after {
  position: relative;
  transform: translateX(4px);
}

section.about-job h2 {
  margin-bottom: 20px;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  /* color: #616161; */
  /* background: var(--light-dark); */
  justify-content: space-around;
  /* padding: 20px 60px; */
}

.footer-navigation nav ul {
  list-style: none;
}

.footer-navigation nav ul li:first-child {
  font-size: 15px;
  font-weight: bold;
}

.footer-navigation nav ul li a {
  text-decoration: none;
  color: #616161;
  font-size: 11px;
}

.footer-navigation nav ul li {
  padding: 5px 0;
}

.footer-policy {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.footer-policy a {
  /* flex-basis: 10%; */
  /* float: left; */
}

.footer-policy ul {
  list-style: none;
  /* display: grid; */
  /* grid-template-columns: repeat(6, auto); */
  /* grid-gap: 20px; */
  /* justify-items: end; */
  /* width: 80%; */
  /* float: right; */
  display: flex;
  /* grid-template-columns: repeat(6, auto); */
  /* float: right; */
  align-items: center;
  flex-wrap: wrap;
}

.footer-policy ul li a {
  text-decoration: none;
  font-size: 11px;
  color: #616161;
}

.footer-policy ul li {
  margin-left: 20px;
}

footer {
  background: var(--light-dark);
  padding: 20px 60px;
  color: #616161;
}

.footer-policy a {
  text-decoration: none;
  color: #616161;
  display: flex;
  align-items: center;
}

footer:after {
  content: ".";
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
}

.custom-checkbox {
  display: none;
}
/* Media queries */
@media (max-width: 862px) {
  .footer-policy {
    flex-wrap: wrap;
  }

  .footer-policy ul {
    margin-top: 10px;
  }
}

@media (max-width: 766px) {
  .main-feature ul {
    grid-template-columns: none;
    justify-content: start;
    justify-items: start;
  }

  .main-feature ul li a {
    display: flex;
    align-items: center;
    /* font-size: 15px; */
  }

  .main-feature ul li a * {
    font-size: 18px;
  }

  .main-feature ul li i {
    margin-bottom: 0;
    margin-right: 10px;
  }

  /* .footer-policy ul {
    grid-template-columns: repeat(3, auto);
  } */
  .main-nav .main-nav_left {
    display: none;
  }
  .custom-checkbox {
    display: inline-block;
  }
}

@media (max-width: 567px) {
  /* .footer-policy ul {
    grid-template-columns: repeat(1, auto);
  } */
}

.main-nav-content {
  display: flex;
  align-items: center;
}

a.logo-mi img {
  width: 100px;
}

.custom-checkbox input {
  display: none;
}

.dropdown-menu {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid gray;
  position: relative;
}

.custom-checkbox label {
  width: 30px;
  height: 30px;
  display: inline-block;
  /* border: 1px solid gray; */
  position: relative;
  cursor: pointer;
}

.custom-checkbox span {
  position: absolute;
  width: 16px;
  height: 2px;
  background: gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: gray;
  transform: translateX(-50%);
  left: 50%;
  top: 5px;
}

.custom-checkbox span:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: gray;
  transform: translateX(-50%);
  left: 50%;
  top: -5px;
}

.main-nav .main-nav_left li a {
  border-bottom: 3px solid transparent;
  display: block;
  padding-bottom: 2px;
}

.sub-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}

.sub-menu ul {
  list-style: none;
  width: 100%;
  background: #f2f2f2;
}

.sub-menu ul li {
  padding: 10px;
}

.sub-menu ul li:not(:last-child) {
  border-bottom: 1px solid gray;
}

.sub-menu ul li a {
  text-decoration: none;
  color: black;
}

.custom-checkbox input:checked + .sub-menu {
  /* display: block; */
  /* transition: .4s; */
  opacity: 1;
  visibility: visible;
}

.footer-policy nav ul li {
  margin-right: 20px;
}

.footer-policy a i {
  margin-right: 5px;
}
