*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav
{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: white;
    padding: 35px 30px;

}
header h2
{
    text-transform: uppercase;
}
header nav{
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

header nav li{
    margin:0 5px
}
header nav li:first-child{
    margin-left:0
}
header nav li:last-child{
    margin-right:0
}

@media (max-width:1000px)
{
    
}
@media (max-width:700px)
{
    header
    {
        flex-direction: column;
        align-items: center;
    }
    header h2
    {
        margin-bottom: 10px;
    }
}

/*    Banner section  */
section
{
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
}
 
.banner-area
{
    position: relative; 
    min-height: 100vh;
    color: white;
    justify-content: center;
    text-align: center;
}
.banner-img{
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.banner-img:after {
    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
}
.banner-area h1
{
    font-family: 'Grandstander', cursive;
    font-size: 65px;
}

.banner-area h2
{
    font-size:  25px;
    margin-bottom: 20px;
}
.banner-area .banner-btn
{
    background: crimson;
    border-radius: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
}
@media (max-width:800px)
{
    .banner-area
    {
        min-height: 600px;
    }
    .banner-area h1
{
    font-size: 35px;
}

.banner-area h2
{
    font-size:  15px;
}

.banner-area .banner-btn
{
    padding: 10px 15px;
    font-size: 10px;
}

}

/* About Section */
.about-right p {
    line-height: 1.5;
}
.about-right h2 {
    margin-bottom: 15px;
}
.about-area
{
    padding: 80px 100px;;
}
.about-content
{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.about-content li
{
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.about-left
{
    height: 290px;
    flex-basis: 40%;
    background-image: url(../img/mountant.jpg);
}
.about-right
{
    flex-basis: 60%;

}
.section-title
{
    font-size: 50px;
    text-transform: uppercase;
}
.about-btn
{
    padding: 10px 15px;
    border-radius: 20px;
    background: crimson;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    display: inline-block;
}
@media (max-width:1000px)
{
    .about-left, .about-right
    {
        flex-basis: 100%;
    }
}

.services-area
{
    background: #80808087;
}
.services-content
{
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.services-content li
{
    flex-basis: 33%;
    text-align: center;
}

.services-content li i 
{
    color: crimson;
    font-size: 30px;
    margin-bottom: 10px;
}

.services-content li h4 
{
    margin-bottom: 10px;
}
@media (max-width:1000px)
{
    .services-content li
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .services-content li:last-child
    {
        margin: 0;
    }
}

.contact-content
{
    display: -webkit-flex;
    display: -moz-flex-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.contact-content li
{
    flex-basis: 33%;
    text-align:center;
}

.contact-content li i 
{
    color: crimson;
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width:1000px)
{
    .contact-content  li
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contact-content  li:last-child
    {
        margin: 0;
    }
}

footer
{
    padding: 40px 0;
    background: black;
}
footer p
{
    text-align: center;
    color: white;
}