$background_light:rgba(252, 226, 142, 0.8);
$background_dark:rgba(255, 28, 66, 0.8);
$gutter_verticle:8rem;
$gutter_verticle_small:4rem;
$row_max_width:114rem;
$gutter_horizontal:6rem;
$padding_column:1rem;